.download-button {
    /* Estilos para os botões de download */
    background-color: #8400ff;
    border: 3px solid #8c00ff;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  
  }
  
  .download-button:hover {
    background-color: #8c00ff62;
  }

  .download_update {
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .download_update_about {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  #downloads {
    border: 1px solid #0000006e;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 4px;
  }