.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(6, 0, 92);
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 3, 26) 50%, rgb(3, 0, 39) 100%);
    backdrop-filter: blur(2px);
}

.navbar .navbar__content {
    padding: 1rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: large;

  }
.navbar .navbar_logo {
width: 40px;
height: 40px;
}
  .navbar .navbar__content .navbar__links li {
    font-family: Helvetica;
    display: inline-block;
   }
  
  .navbar .navbar__content .navbar__links li:not(:last-of-type) {
    margin-right: 4rem;
  }
  
  .navbar .navbar__content .navbar__links a {
    padding: 1rem;
    display: inline-block;
  }
  
.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgb(255, 255, 255);
}

  .navbar .navbar__content .navbar__links a:hover {
    color: rgb(61, 122, 255);
    transform: scale(1.05);
    animation: button 0.5s;
  }
  
  .navbar.active {
    box-shadow: 0 0.2rem 0.5rem rgba(171, 81, 255, 0.1);
  }
  
  .navbar .navbar__content .navbar__mobile,
  .navbar .navbar__content .navbar__mobile .mobile__links {
    display: none;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar .navbar__content .navbar__links {
      display: none;
    }
  
    .navbar .navbar__content .navbar__mobile {
      display: flex;
      
      align-items: center;
    }
  
    .navbar .navbar__content .navbar__mobile img {
      width: 3.6rem;
      height: 3.6rem;
    }
    .language-selector {
      margin-left: 15%;
    }
    .navbar .navbar__content .navbar__mobile.active .mobile__links {
      display: flex;
      flex-direction: column;
      background-color: #2d2e46f6;
      width: 100%;
      position: absolute;
      top: 98%;
      left: 0;
      padding: 1rem 0;
      box-shadow: 0 0.9rem 0.9rem rgba(255, 255, 255, 0.1);
      z-index: 1;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li {
      margin-right: 0;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
      padding: 1rem;
      display: block;
      text-align: center;
    }
  }


  .navbar::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 15px;
    filter: blur(8px);
    animation: reflect 5s infinite alternate;
  }
  
  .navbar__language {
    margin-left: 2rem;
  }
  
  .navbar__language select {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 50px;
    height: auto;
    background-color: #ffffff;
    color: #000;
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .navbar__language select:focus {
    outline: none;
  }
  
  .language-selector {
    position: relative;
    display: inline-block;
}

.language-selector-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.language-selector .current-language {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-flag {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(52, 51, 68);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 50px;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.language-dropdown-mobile {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: rgb(52, 51, 68);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 180px;
  position: absolute;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.language-dropdown-mobile li {
  display: flex;
  align-items: center;
  padding: 8px 0; 
  width: auto;
  cursor: pointer;
}

.language-dropdown-mobile-text {
  font-family: serif;
  font-size: 15px;
  color: #dadbeb;
}

.language-dropdown li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}


.language-dropdown li:hover {
    background-color: #78799786;
}


.language-selector:hover .language-dropdown {
    display: block;
}
 
.mobile__links li {
  position: relative;
  overflow: hidden; 
}

.mobile__links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #76778d; 
  z-index: -1; 
  transition: left 0.4s ease-in-out; 
}

.mobile__links li:hover::before {
  left: 0; 
}

.mobile__links li a {
  position: relative;
  z-index: 1; 
}



.language-dropdown-mobile li {
  position: relative; 
  overflow: hidden; 
}

.language-dropdown-mobile li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #76778d; 
  z-index: -1;
  transition: left 0.4s ease-in-out; 
}

.language-dropdown-mobile li:hover::before {
  left: 0;
}

.language-dropdown-mobile li a {
  position: top; 
  z-index: 1;
}


  @keyframes reflect {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0%);
    }
    0% {
      transform: translateX(-100%);
    }
  }
