:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #02073e;
    --secondary-color: #0f2137;
    --dark-secondary-color: #ffffff;
    --tertiary-color: #853aff5b;
    --light-tertiary-color: #f3f6fb;
    --text-color: #ffffff;
  
    --font-family: 'DM Sans', sans-serif;
  }